/**
 *    pi.app.css
 *
 *    CSS that loads on application start.
 *    
 *    Guidelines for style sheets are: 
 *    
 *    don't add custom classes to tags  (a, ul, li, &c)
 *    create custom classes and namespaces
 *    use combined classes to mimic inheritance
 *
 *  @author Johan Telstad, jt@viewshq.no, 2011-2014
 * 
**/





  body {
    font-family         : trebuchet, sans-serif;
    color               : #f8f8f2;
    margin              : 0;
    padding             : 0;
    background-color    : #272822;
    background-image    : url('../img/bg.jpg'); 

  }

    li.selected {
      font-weight   : 700;
      color         : white;
    }


  .dropcap {
    margin-right: 9px;
    float       : left;
    color       : #231f20;
    font-size   : 79px;
    line-height : 58px;
    display     : block;
    position    : relative;
    top         : 4px;
  }
