/**
 *    pi.app.css
 *
 *    CSS that loads on application start.
 *    
 *    Guidelines for style sheets are: 
 *    
 *    don't add custom classes to tags  (a, ul, li, &c)
 *    create custom classes and namespaces
 *    use combined classes to mimic inheritance
 *
 *  @author Johan Telstad, jt@enfield.no, 2011-2013
 * 
**/





  body {
    font-family         : "Ropa Sans", sans-serif;
    color               : #f8f8f2;
    margin              : 0;
    padding             : 0;
    background-color    : #29A5C0;

    /*  "../../../../assets" is the resource folder for pi proper */

    background-image    : url('../../../../assets/img/views_logo.svg'), url('../img/NRK_logo.svg');
    background-repeat   : no-repeat;
    background-size     : 320px 56px, 298px 106px;
    background-position : right top, 14px 14px;
  }

