/**
 *    π.head.css
 *
 *    CSS that loads in the head-section. Only what's needed for initial page load 
 *    should be included in this file. Other style sheets will load asynchronously
 *    as needed by components that require them, or in background preloading.
 *
 *
 *    Guidelines for style sheets are: 
 *    
 *    don't add custom classes to tags  (a, ul, li, &c)
 *    create custom classes and namespaces
 *    use inheritance
 *
 *  @author Johan Telstad, jt@enfield.no, 2011-2013
 * 
**/




  /* The ugly */

  .hwaccel {  
    -webkit-transform: translateZ(0); 
  }




  body {
    font-family       : sans-serif;
    background-color  : #272822;
    color             : #f8f8f2;
    margin            : 0;
    padding           : 0;
    background-image  : url('../img/bg.jpg');
    background-repeat : repeat-y;
  }

  header {
    background-color : #b21;
    width: 100%;
    height: 240px;
    overflow: hidden;
    clear: right;
  }

  ul {
    list-style-type : none;
  }

  /* pcl is the pi component library. This is where we create our theme defaults */

  .pcl {
    display      : block;
    background   : transparent;
    border-style : solid;
    border-color : red;
    border-width : 1px;
    color        : #f8f8f2; 
    font-family  : sans-serif; 
    font-size    : normal;
    font-weight  : 400;  

    /* animate everything by default */ 
    transition-property         : all;
    transition-duration         : 0.1s;        
    transition-timing-function  : cubic-bezier(0,0,0.58,1);
  }


  .pcl.visible {
    /*visibility: visible;*/
  }


  .pcl.title {
    font-weight : 700;
    font-size   : large; 
  }

  .pcl.caption {
    font-weight : 400;
    font-size   : small;
    font-style  : italic;
  }

  .pcl.fullscreen {
    width  : 100%;
    height : 100%;
  }

  .pcl.form {
    /*background-color : #b21;*/
  }


  .pcl.debug {
    background-color  : #272822;
    color             : #75715e;
  }


  .pcl.component {
    background-color : #272822;
  }

  .pcl.error {
    color             : #b21;
    /*background-color  : #f92672;*/
  }


  .right {
      float:right;
    }

  .left {
      float:left;
    }

  .inline {
      display: inline;
    }

  .block {
      display: block;
    }

  .box {
      display: inline-block;
    }

  .code {
    font-family: monospace;
    color: #f8f8f2;
  }


/* monokai, obviously */
  .code.comment  { color: #75715e; }
  .code.keyword  { color: #f92672; }
  .code.default  { color: #f8f8f2; }
  .code.reserved { color: #66D9EF; }
  .code.number   { color: #AE81FF; }
  .code.string   { color: #e6db74; }


  /*Transitions */


  .tween {
    transition-property         : all;
    transition-duration         : 0.1s;        
    transition-timing-function  : cubic-bezier(0,0,0.58,1);
  }


  .tween.ease-out {
    transition-timing-function  : ease-out;
  }

  .tween.ease-in {
    transition-timing-function  : ease-in;
  }
