

div.behaviours.ease-out {
  -webkit-transition: all 0.1s ease-out;
     -moz-transition: all 0.1s ease-out;
       -o-transition: all 0.1s ease-out;
          transition: all 0.1s ease-out;
}

div.behaviours.ease-in {
  -webkit-transition: all 0.1s ease-in;
     -moz-transition: all 0.1s ease-in;
       -o-transition: all 0.1s ease-in;
          transition: all 0.1s ease-in;
}


