/**
 *    π.core.css
 *
 *    CSS that loads in the head-section. Only what's needed for initial page load 
 *    should be included in this file. Other style sheets will load asynchronously
 *    as needed by components that require them, or in background preloading.
 *
 *
 *    Guidelines for style sheets are: 
 *    
 *    don't add custom classes to tags  (a, ul, li, &c)
 *    create custom classes and namespaces
 *    use inheritance
 *
 *
 *  colour series: 53AAE1, DE0010, E9E466, A5CA72
 * 
 *  @author Johan Telstad, jt@viewshq.no, 2011-2014
 * 
 */



  [contenteditable="true"]:focus > style {

    display     : block;

    position    : relative;
    right       : -36em;
    top         : -2em;

    background-color  : #29A5C0;
    color             : #f8f8f2;
    font-family       : Monaco, Consolas, sans-serif;
    font-size         : .75em;
    line-height       : 1.5;

  }




  .pi {
     /*perspective : 800px;*/
    position: absolute;
    display : block;
  }



  body.pi {
    background-color  : #29A5C0;
    color             : #f8f8f2;
    margin            : 0;
    padding           : 0;
  }

  header.pi {
    background-color : #b21;
    /*width: 100%;*/
    height: 240px;
    overflow: hidden;
    clear: right;
  }

  ul.pi {
    list-style-type : none;
  }

  div.pi {
    border : dotted white 1px;
  }


  .pi.stretch {
    width   : 100%;
    height  : 100%;
  }


/**
 *  convenience classes for javascript
 * 
 */

  .pi.pointer-events-none {
    pointer-events : none;
  }




  .pi.flex-container {
    /*width           : 100%;*/
    display         : flex;
    flex-direction  : row;
    flex-wrap       : nowrap;
    /*flex-flow       : row nowrap;*/
    justify-content : space-between;
    align-content   : flex-start;
    align-items     : center;
  }


  .pi.flex-item {
    /*display: inline-flex;*/
  }


  .pi.code {
    font-family : monospace;
    color       : #f8f8f2;
  }






  /* monokai */
  .pi.code.comment  { color: #75715e; }
  .pi.code.keyword  { color: #f92672; }
  .pi.code.default  { color: #f8f8f2; }
  .pi.code.reserved { color: #66D9EF; }
  .pi.code.number   { color: #AE81FF; }
  .pi.code.string   { color: #e6db74; }


  /* transitions */


  .pi.tween {
    transition-property         : all;
    transition-duration         : 0.6s;
    transition-timing-function  : cubic-bezier(0,0,0.58,1);
  }


  .pi.tween.ease-out {
    transition-timing-function  : ease-out;
  }

  .pi.tween.ease-in {
    transition-timing-function  : ease-in;
  }


  /* The ugly */

  .pi.hwaccel {  
    -webkit-transform: translateZ(0); 
  }

