  /**
   *    π.pcl
   *
   *    CSS classes for the PCL component library 
   *
   *  @author Johan Telstad, jt@enfield.no, 2011-2013
   * 
  **/





  .pcl {
    display      : block;
    background   : transparent;
    border-style : solid;
    border-color : red;
    border-width : 1px;
    color        : #f8f8f2; 
    font-family  : sans-serif; 
    font-size    : normal;
    font-weight  : 400;  

    /* animate everything by default */ 
    transition-property         : all;
    transition-duration         : 0.1s;        
    transition-timing-function  : cubic-bezier(0,0,0.58,1);
  }


  .pcl.visible {
    /*visibility: visible;*/
  }


  .pcl.title {
    font-weight : 700;
    font-size   : large; 
  }

  .pcl.caption {
    font-weight : 400;
    font-size   : small;
    font-style  : italic;
  }

  .pcl.fullscreen {
    width  : 100%;
    height : 100%;
  }

  .pcl.form {
    /*background-color : #b21;*/
  }


  .pcl.debug {
    background-color  : #272822;
    color             : #75715e;
  }


  .pcl.component {
    background-color : #272822;
  }

  .pcl.error {
    color             : #b21;
    /*background-color  : #f92672;*/
  }


  .pcl.right {
      float:right;
    }

  .pcl.left {
      float:left;
    }

  .pcl.inline {
      display: inline;
    }

  .pcl.block {
      display: block;
    }

  .pcl.box {
      display: inline-block;
    }

  .pcl.code {
    font-family: monospace;
    color: #f8f8f2;
  }


/* monokai, obviously */
  .pcl.code.comment  { color: #75715e; }
  .pcl.code.keyword  { color: #f92672; }
  .pcl.code.default  { color: #f8f8f2; }
  .pcl.code.reserved { color: #66D9EF; }
  .pcl.code.number   { color: #AE81FF; }
  .pcl.code.string   { color: #e6db74; }


  /*Transitions */


  .pcl.tween {
    transition-property         : all;
    transition-duration         : 0.1s;        
    transition-timing-function  : cubic-bezier(0,0,0.58,1);
  }


  .pcl.tween.ease-out {
    transition-timing-function  : ease-out;
  }

  .pcl.tween.ease-in {
    transition-timing-function  : ease-in;
  }
